.navClass {
  background-color:rgba(34, 34, 34, 0.3);
  border-bottom: 2px solid red;
  color: white;
}

li a{
  color: white !important;
  font-weight:600 !important;
}

* {
  overflow-x: auto;
  white-space: nowrap
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color:rgba(34, 34, 34, 0.6);
  width: 100vw;
  height: 100vh;
}


.containter{
 background-color:rgba(34, 34, 34, 0.6);
  width: 100vw;
  height: 100vh;
}

.tableDiv{
  background-color: white;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.pageBackground{
  background-color:rgba(34, 34, 34, 0.6);
  width: 100vw;
  height: 100vh;
}

h1{
	color: white;
	text-align: center;
	margin-top: 200px;
	margin-bottom:20px;
}

.addBtn {
margin: 20px;
}

.headerClass{
	margin-top: 5%;
}
